<h3><%= @page_title = '管理画面' %></h3>

<div>
  データベースの管理を行います。
</div>

<h3>アイコン管理</h3>

<p>アイコンの一覧です。</p>

<% @icons.each do |i| %>
  <li><%= i.name %></li>
  <%= image_tag(i.url, class: 'admin-icon-image') %>
<% end %>

<h3>登録ユーザーの管理</h3>

<p>登録しているユーザー・NFCIDの一覧です。</p>

<table class="pure-table pure-table-horizontal m-y">
  <thead>
    <tr>
      <th>reg</th>
      <th>ID</th>
      <th>NFCID</th>
      <th>名前</th>
      <th>AC</th>
      <th>コメント</th>
      <th>icon</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr class='kit-text-l'>
        <td><%= "✓" if u.registered %></td>
        <td><%= u.id %></td>
        <td><strong><%= u.nfcid %></strong></td>
        <td><%= u.name %></td>
        <td><%= u.public_uid %></td>
        <td><%= u.comment %></td>
        <td><%= u.icon_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
