<h3><%= @page_title = '管理画面' %></h3>

<ul>
    <li>楽曲情報の管理</li>
    <li>アイコン管理</li>
    <li>登録ユーザーの管理</li>
</ul>

<h3>楽曲情報の管理</h3>

<p>おとふだNETに登録されている楽曲情報の一覧・情報変更を実行します。情報の保存は一曲ごとに実行してください。</p>

<% @musics.each do |music| %>
    <div class="music-show">
        <h4><%= music.id %>. <%= music.name %></h4>
        <div>
            <img src="<%= music.image %>" alt="<%= music.name %>">
        </div>
        <span class="easy"><%= music.easy %></span>
        <span class="normal"><%= music.normal %></span>
        <span class="hard"><%= music.hard %></span>
    </div>

    <blockquote style="text-align: left">
        <%= form_with( model: music, method: "patch", local: true, class: 'pure-form' ) do |f| %>
            <div class="pure-control-group row">
                <label for="name" class="pure-form-message-inline">楽曲名</label>
                <%= f.text_field :name, placeholder: '', required: true %>
            </div>
            <div class="pure-control-group row">
                <label for="name" class="pure-form-message-inline">アーティスト</label>
                <%= f.text_field :artist, placeholder: '', required: true %>
            </div>
            <div class="pure-control-group row">
                <label for="name" class="pure-form-message-inline">ジャケット画像</label>
                <%= f.text_field :image, placeholder: '', required: true %>
            </div>
            <div class="pure-control-group row">
                <label for="name" class="pure-form-message-inline">譜面制作者</label>
                <%= f.text_field :notesdesign, placeholder: '', required: true %>
            </div>
            <div class="pure-control-group row">
                <label for="name" class="pure-form-message-inline">難易度</label>
                <%= f.text_field :easy, class: 'pure-input-1-4', required: true %>
                <%= f.text_field :normal, class: 'pure-input-1-4', required: true %>
                <%= f.text_field :hard, class: 'pure-input-1-4', required: true %>
            </div>
            <%= f.submit(music.name + 'を更新', class: 'pure-button m') %>
        <% end %>
    </blockquote>
<% end %>

<h3>登録ユーザーの管理</h3>

<p>登録しているユーザー・NFCIDの一覧です。</p>

<table class="pure-table pure-table-horizontal m">
    <thead>
        <tr>
            <th>本</th>
            <th>ID</th>
            <th>NFCID</th>
            <th>名前</th>
            <th>AC</th>
            <th>コメント</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |u| %>
            <tr class='kit-text-l'>
                <td><%= "✓" if u.registered %></td>
                <td><%= u.id %></td>
                <td><strong><%= u.nfcid %></strong></td>
                <td><%= u.name %></td>
                <td><%= u.public_uid %></td>
                <td><%= u.comment %></td>
            </tr>
        <% end %>
    </tbody>
</table>
