<% @page_title = 'ホーム' %>

<p>
    ようこそ
    <h3><strong><%= @user.name %></strong>さん</h3>
</p>

<div class="char-image">
    <%= image_tag(@icon.url, alt: @icon.name) %>
</div>

<p>
    <%= link_to(tag.i(class: "fas fa-history") + ' 対戦履歴を見る', results_path, class: 'pure-button') %>
</p>

<h3>累計勝利数：<%= @user.wincount %></h3>

<%= link_to(option_path, class: "pure-button block-button") do %>
  <h5><i class="fas fa-cog"></i>オプション設定</h5>
  ゲーム設定を変更することができます
<% end %>

<kit-space></kit-space>

<%= link_to(profile_path, class: "pure-button block-button") do %>
  <h5><i class="fas fa-user"></i>プロフィール編集</h5>
  ユーザープロフィールを変更できます
<% end %>

<h4>ユーザー情報</h4>

<ul>
    <li>初回プレー：<%= account.created_at %></li>
</ul>

<%= button_to( "ログアウト", "/sessions/" + account&.id.to_s, method: :delete, class: 'pure-button' ) %>

<div class="banners">
<a href="https://arcade.otofuda.com/" target="_blank" rel="noopener noreferrer">
    <img src="/banner/banner_hp.png" alt="アーケード版 音札">
</a>
<a href="https://otofuda.com/" target="_blank" rel="noopener noreferrer">
    <img src="/banner/banner_portal.png" alt="音札ポータル">
</a>
<a href="https://etude.otofuda.com/" target="_blank" rel="noopener noreferrer">
    <img src="/banner/banner_etude.png" alt="音札Étude">
</a>
<a href="https://x.com/@otofuda" target="_blank" rel="noopener noreferrer">
    <img src="/banner/banner_twitter.png" alt="X(Twitter)">
</a>
<a href="https://www.youtube.com/@otofuda" target="_blank" rel="noopener noreferrer">
    <img src="/banner/banner_youtube.png" alt="YouTube">
</a>
</div>
