<% @page_title = 'トップ' %>
<div class="m">
    <a href="./users/enterac" class="pure-button">カード登録</a>
</div>
<% if(!account) %>
    <%= form_with( url: sessions_path, local: true, class: 'pure-form' ) do |f| %>
        <div class="row">
            <div class='m'>メールアドレス</div>
            <%= f.text_field(:mail, class: 'pure-input-1') %>
        </div>
        <div class="row">
            <div class='m'>パスワード</div>
            <%= f.password_field(:password, class: 'pure-input-1') %>
        </div>
        <div class="row">
            <%= f.submit('ログイン', class: 'pure-button m') %>
        </div>
    <% end %>
<% else %>
    <%= link_to( "ログアウト", "/sessions/" + account&.id.to_s, method: :delete ) %>
<% end %>
<div class="m">
    <a href="/musics" class="pure-button">楽曲一覧</a>
    <br>
    <br>
    <a href="/howto">おとふだNETへの初回登録方法</a>
</div>
