<% @page_title = 'トップ' %>
<div class="m">
    <a href="./users/enterac" class="pure-button">カード登録</a>
</div>
<% if(!account) %>
    <%= form_with( url: sessions_path, local: true, class: 'pure-form' ) do |f| %>
        <div class="row">
            <div class='m'>メールアドレス</div>
            <%= f.text_field(:mail, class: 'pure-input-1') %>
        </div>
        <div class="row">
            <div class='m'>パスワード</div>
            <%= f.password_field(:password, class: 'pure-input-1') %>
        </div>
        <div class="row">
            <%= f.submit('ログイン', class: 'pure-button m') %>
        </div>
    <% end %>
<% else %>
    <%= link_to( "ログアウト", "/sessions/" + account&.id.to_s, method: :delete ) %>
<% end %>
<div class="m">
    <a href="/songs" class="pure-button">楽曲リスト</a>
    <br>
    <br>
    <a href="/howto">おとふだNETへの初回登録方法</a>
</div>
<div class="banners">
<a href="https://arcade.otofuda.com/" target="_blank" rel="noopener noreferrer">
    <img src="/banner/banner_hp.png" alt="アーケード版 音札">
</a>
<a href="https://otofuda.com/" target="_blank" rel="noopener noreferrer">
    <img src="/banner/banner_portal.png" alt="音札ポータル">
</a>
<a href="https://etude.otofuda.com/" target="_blank" rel="noopener noreferrer">
    <img src="/banner/banner_etude.png" alt="音札Étude">
</a>
<a href="https://x.com/@otofuda" target="_blank" rel="noopener noreferrer">
    <img src="/banner/banner_twitter.png" alt="X(Twitter)">
</a>
<a href="https://www.youtube.com/@otofuda" target="_blank" rel="noopener noreferrer">
    <img src="/banner/banner_youtube.png" alt="YouTube">
</a>
</div>
