<h3>ユーザー一覧画面</h3>
<div>テスト用ページ</div>

<table class="pure-table pure-table-horizontal m">
    <thead>
        <tr>
            <th>R</th>
            <th>NFCID</th>
            <th>SN</th>
            <th>AC</th>
            <th>MAIL</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |u| %>
            <tr class='kit-text-l'>
                <td><%= "✓" if u.registered %></td>
                <td><strong><%= u.nfcid %></strong></td>
                <td><%= u.name %></td>
                <td><%= u.public_uid %></td>
                <td><%= u.mail %></td>
            </tr>
        <% end %>
    </tbody>
</table>
