<% if( @user.errors.present? ) %>
    <% @user.errors.full_messages.each do |message| %>
        <div class="error"><%= message %></div>
    <% end %>
<% end %>

<p>
    新規のICカード「<%= @user.nfcid %>」にユーザー情報を登録します。
</p>

<%= form_with( model: @user, method: "patch", local: true, class: 'pure-form' ) do |f| %>
    <%= f.hidden_field :id, value: @user.id %>
    <div class='row'>
        <div class="m">プレイヤーネーム</div>
        <%= f.text_field :name, placeholder: 'プレイヤーネーム', required: true, class: 'pure-input-1' %>
    </div>
    <div class='row'>
        <div class="m">ユーザーID または メールアドレス</div>
        <%= f.text_field :mail, placeholder: 'ユーザーID', required: true, class: 'pure-input-1' %>
    </div>
    <div class='row'>
        <div class="m">パスワード</div>
        <%= f.password_field(:password, placeholder: 'パスワード', required: true, class: 'pure-input-1') %>
    </div>
    <div class='row'>
        <div class="m">パスワード(確認)</div>
        <%= f.password_field(:password_confirmation, placeholder: 'パスワード(確認)', required: true, class: 'pure-input-1') %>
    </div>
    <%= f.submit('登録', class: 'pure-button m') %>
<% end %>
