<h3>対戦履歴</h3>

<% @results1.each do |result| %>
    <div class="result-head">
        <%= link_to('詳細', result_path(result), class: "pure-button pure-button-primary kit-right") %>
        <div class="vod">
            <% if result.p1_score > result.p2_score %>
                WIN
            <% else %>
                LOSE
            <% end %>
        </div>
        <%= result.music_id %>
        <div class="kit-sub"><%= result.created_at %></div>
    </div>
    <div class="result">
        <div>
            <div class="name"><%= result.p1.name %></div>
            <div class="difficulty <%= result.p1_difficulty %>"><%= result.music[result.p1_difficulty] %></div>
            <div class="score">SCORE <%= result.p1_score %></div>
        </div>
        <div>
            <div class="name"><%= result.p2.name %></div>
            <div class="difficulty <%= result.p2_difficulty %>"><%= result.music[result.p2_difficulty] %></div>
            <div class="score">SCORE <%= result.p2_score %></div>
        </div>
    </div>
<% end %>

<% @results2.each do |result| %>
    <div class="result-head">
        <%= link_to('詳細', result_path(result), class: "pure-button pure-button-primary kit-right") %>
        <div class="vod">
            <% if result.p1_score < result.p2_score %>
                WIN
            <% else %>
                LOSE
            <% end %>
        </div>
        <%= result.music_id %>
        <div class="kit-sub"><%= result.created_at %></div>
    </div>
    <div class="result">
        <div>
            <div class="name"><%= result.p2.name %></div>
            <div class="difficulty <%= result.p2_difficulty %>"><%= result.music[result.p2_difficulty] %></div>
            <div class="score">SCORE <%= result.p2_score %></div>
        </div>
        <div>
            <div class="name"><%= result.p1.name %></div>
            <div class="difficulty <%= result.p1_difficulty %>"><%= result.music[result.p1_difficulty] %></div>
            <div class="score">SCORE <%= result.p1_score %></div>
        </div>
    </div>
<% end %>

