<h3>詳細リザルト</h3>

<div class="result-head">
    <img src="<%= @result.music.image %>" alt="<%= @result.music.name %>">
    <%= @result.music.name %>
    <div class="kit-sub"><%= @result.created_at %></div>
</div>
<div class="result">
    <div>
        <div class="name"><%= @result.p1.name %></div>
        <div class="vod">
            <% if @result.p1_score > @result.p2_score %>
                WIN
            <% else %>
                LOSE
            <% end %>
        </div>
        <div class="difficulty <%= @result.p1_difficulty %>"><%= @result.music[@result.p1_difficulty] %></div>
        <div class="score">SCORE <%= @result.p1_score %></div>
        <div class="info">
            <div class="perfect">PERFECT <strong><%= @result.p1_perfect %></strong></div>
            <div class="great">GREAT <strong><%= @result.p1_great %></strong></div>
            <div class="good">GOOD <strong><%= @result.p1_good %></strong></div>
            <div class="bad">BAD <strong><%= @result.p1_bad %></strong></div>
            <div class="miss">MISS <strong><%= @result.p1_miss %></strong></div>
        </div>
    </div>
    <div>
        <div class="name"><%= @result.p2.name %></div>
        <div class="vod">
            <% if @result.p1_score < @result.p2_score %>
                WIN
            <% else %>
                LOSE
            <% end %>
        </div>
        <div class="difficulty <%= @result.p2_difficulty %>"><%= @result.music[@result.p2_difficulty] %></div>
        <div class="score">SCORE <%= @result.p2_score %></div>
        <div class="info">
            <div class="perfect">PERFECT <strong><%= @result.p2_perfect %></strong></div>
            <div class="great">GREAT <strong><%= @result.p2_great %></strong></div>
            <div class="good">GOOD <strong><%= @result.p2_good %></strong></div>
            <div class="bad">BAD <strong><%= @result.p2_bad %></strong></div>
            <div class="miss">MISS <strong><%= @result.p2_miss %></strong></div>
        </div>
    </div>
</div>