<h3><%= @page_title = '収録楽曲一覧' %></h3>

<div>
  <% @musics.each do |music| %>
    <%= link_to music_path(music.id), class: "kit-box otofuda-music" do %>
      <img src="<%= music.image %>" alt="<%= music.name %>">
      <div class="otofuda-music-title">
        <%= music.name %>
      </div>
      <div class="m-t m-b"><%= music.artist %></div>
      <span class="easy"><%= music.easy %></span>
      <span class="normal"><%= music.normal %></span>
      <span class="hard"><%= music.hard %></span>
    <% end %>
  <% end %>
</div>
