<% options = (1..12).to_a %>

<a href="https://arcade.otofuda.com/fuda" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i>札一覧を確認する</a>

<%= render "errors", obj:@deck %>

<div class="m-m">
  <div class="row">
    <h4><%= f.label :name, "デッキ名" %></h4>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <h4>構成月</h4>
    <%= f.select :slot1, options %>
    <%= f.select :slot2, options %>
    <%= f.select :slot3, options %>
    <%= f.select :slot4, options %>
    <%= f.select :slot5, options %>
  </div>
  <%= f.hidden_field :user_id, value: @deck.user_id %>
  <%= f.hidden_field :status, value: @deck.status %>
</div>