<h3><%= @page_title = 'デッキ編成' %></h3>

<div>
  対戦で使うデッキを編成し、登録することができます。<br>
  <%= link_to '>新しいデッキを登録する', new_deck_path %>
</div>

<% if @decks.present? %>
  <% @decks.each do |d| %>
    <div class="kit-pane dark hover m-m">
      <h4><%= link_to "#{d.name.blank? ? '名称未設定のデッキ' : d.name}", d %></h4>
      構成月：<%= d.slot1 %>月 <%= d.slot2 %>月 <%= d.slot3 %>月 <%= d.slot4 %>月 <%= d.slot5 %>月<br>
      <% if d.sub? %>
        <%= link_to "使うデッキにする", [:change_status, d], method: :patch, class: "pure-button" %>   
        <%= link_to "デッキ削除", d, method: :delete, class: "pure-button button-black" %>
      <% else # statusがmainの時 %>
        <a class="pure-button button-blue"><%= "*選択中のデッキ*" %></a>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h4>デッキが登録されていません</h4>
<% end %> 