<% @page_title = "デッキ詳細" %>

<h3><%= @deck.name.blank? ? "名称未設定のデッキ" : @deck.name %></h3>

<div class="m-m p-m kit-font-l">
  <h4>構成月</h4>
  <%= @deck.slot1 %>月 <%= @deck.slot2 %>月 <%= @deck.slot3 %>月 <%= @deck.slot4 %>月 <%= @deck.slot5 %>月
</div>

<%= link_to ">デッキ情報を編集する", [:edit, @deck] %>

<div class="m-m">
  <h4>構成札一覧</h4>
  <div class="card-list">
    <% @cards.each do |c| %>
      <div class="item kit-font-s">
        <img src="<%= c.image %>"><br>
        <p><%= c.effect_text %></p>
      </div>
    <% end %>
  </div>
</div>


<a href="https://arcade.otofuda.com/fuda" target="_blank" rel="noopener noreferrer" class="p-m">
  <i class="fas fa-external-link-alt"></i>より詳しい札の情報はこちらから
</a>
