<!DOCTYPE html>
<html>
  <head>
    <title>Otofudanet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2><a href='/'>おとふだNET</a></h2>
    <% if( flash.notice ) %>
      <p><%= flash.notice %></p>
    <% end %>
    <%= yield %>
    <footer>2019 おとふだNET - 音札プロジェクト</footer>
  </body>
</html>
