<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> | おとふだNET</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://mtsgi.github.io/kitstrap/d/kitstrap.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href='/'>おとふだNET</a>
    </nav>
    <% if( flash.notice ) %>
      <div class='flash'><%= flash.notice %></div>
    <% end %>
    <main><%= yield %></main>
    <footer>2019 おとふだNET - 音札プロジェクト</footer>
  </body>
</html>
